*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#0f172a;
color:white;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#020617;
}

header a{
color:white;
text-decoration:none;
}

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero h1{
font-size:40px;
margin-bottom:20px;
}

.hero p{
margin-bottom:20px;
}

.btn{
background:#2563eb;
padding:15px 30px;
border-radius:8px;
color:white;
text-decoration:none;
margin-top:20px;
display:inline-block;
}

.beneficios,
.servicos{
padding:60px 20px;
text-align:center;
}

.cards{
display:flex;
gap:20px;
justify-content:center;
margin-top:30px;
flex-wrap:wrap;
}

.card{
background:#1e293b;
padding:20px;
border-radius:10px;
width:250px;
}

.cta{
text-align:center;
padding:60px;
background:#020617;
}


.contato{
padding:60px 20px;
text-align:center;
}

form{
display:flex;
flex-direction:column;
gap:10px;
max-width:400px;
margin:auto;
}

input,textarea{
padding:10px;
border-radius:5px;
border:none;
}

button{
background:#2563eb;
color:white;
border:none;
padding:15px;
border-radius:5px;
cursor:pointer;
}

footer{
text-align:center;
padding:20px;
background:#020617;
}

@media(max-width:768px){

.hero h1{
font-size:28px;
}

.cards{
flex-direction:column;
align-items:center;
}

}